body{
    /* Default font */
    font-family: Rubik;
    color: white;
    margin: 0;
}

h1{
    font-size: 3em;
}


main{
    display: flex;
    align-items:center;
    flex-direction: column;
}


.statusbar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    width: 10em;
    margin: -1px;
    /*height: 9vh;*/
    border-radius: 59px;
    padding-left: 3vh;
    padding-right: 3vh;
    /*min-height: 2.5em;*/
}

.navbar{
    background-color: white;
    margin-bottom: 5vh;
    display: flex;
    font-size: 1.4em;
    width: 20.5em;
    height: 9vh;
    border-radius: 59px;
    min-height: 2.5em;
}

#setting{
    color: #000000d5;
    font-size: 1.9em;
    width: 1.4em;
    display: flex;
    justify-content: end;
    align-items: center;
}

.circle{
    font-size: 5em;
    border-radius: 100%;
    height: 50vb;
    width: 50vb;

    min-height: 4em;
    min-width: 4em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-circle{
    /* background-color: transparent; */
    border-radius: 100%;
    width: 85%;
    height: 85%;
        
    display: flex;
    justify-content: center;
    align-items: center;
}


.control{
    margin-top: 4vh;
}

.control > button{
    background-color: transparent;
    border-style: solid;
    border-radius: 100%;
    border-color: white;
    color: white;
    width: 10vh;
    height: 10vh;
    text-align: center;
    font-size: 5.2vh;
}

.unselected-status{
    color: #ffffff50;
}


/* POPUP */

.popup{
    width: 100%;
    height: 100%;
    background-color: #00000025;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup > div{
    width: 40vw;
    height: 30vh;
    border-radius: 2em;
    background: #a10000;
    box-shadow: inset 18px 18px 36px #970000,
            inset -18px -18px 36px #ab0000;
}

form{
    font-size: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

input[type="number"]{
    margin-top: 1.5vh;
    width: 1.7em;
    font-size: 1em;
    border: none;
    border-radius: 0.25em;
    margin-left: 0.1em;
}


/* RED THEME */


.red-bg{
    background-color: #a10000;
}

.progress-circle-red{
    background: 
    radial-gradient(closest-side, #a10000 94%, transparent 80% 100%),
    conic-gradient(#22222280 0%,  wheat 0);
}

/* https://neumorphism.io/ */
.neumorphism-red{
    box-shadow:  7px 7px 14px #760000,
                -7px -7px 14px #cc0000;
}

/* GRAY THEME */

.gray-bg{
    background-color: #434343;
}

.progress-circle-gray{
    background: 
    radial-gradient(closest-side, #434343 94%, transparent 80% 100%),
    conic-gradient(#22222280 0%,  wheat 0);
}

.neumorphism-gray{
    box-shadow:  7px 7px 14px #313131,
                -7px -7px 14px #555555;
}

/* Media queries */


@media only screen and (max-width: 425px){
    h1{
        font-size: 10vw;
    }
}


@media only screen and (max-width: 320px){
    .circle{
        width: 100vw;
        height: 100vw;
        font-size: 300%;
        
    }
}